.vscode
**/obj/

# assignment 00
megaphone
phonebook
account

# assignment 01
zombie
zombie_horde
this_is_brain
unnecessary_violence
findreplace
harl
harlFilter

# assignment 02
fixed
bsp

# assignment 03
claptrap
scavtrap
fragtrap
diamondtrap

# assignment 04
animals
materia

# assignment 05
bureaucrat
form

# assignment 05
converter
